.aboutMeQuoteText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
    text-align: center;
}

.aboutMeBioContainer {
    display: flex;
    align-items: center;
    max-height: 400px; 
    max-width: 600px;
}

.aboutMeImageContainer {
    margin: 2%;
}

#picOfMe {
    width: 250px;
    border-radius: 75%;
}

.aboutMeRightContainer {
    display: flex;
    flex-direction: column;
}

#emailText {
    font-size: 1.25rem;
    left: 2px;
}

.aboutMeTextContainer {
    height: 200px;
    width: 250px;
    margin: 2%;
    margin-right: 40px;
    overflow-y: scroll;
    text-align: right;
}

.aboutMeTextContainer::-webkit-scrollbar {
    display: none;
}

textarea {
    resize: none;
}

.resumeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}