.mainApp {
    display: flex;
    flex-direction: column;
    background-color: #dddbf1;
    padding: 5%;
    border-radius: 5px;
}

.nameHeader {
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.professionTitleHeader {
    font-size: 1.65rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    height: 2px;
    width: 80%;
    margin-top: -0.33%;
    background-color: #d1beb0;
}

@media only screen and (max-width: 450px){
    .mainApp {
        max-width: 95%;
    }
}